body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/bg.jpeg");
  background-size: cover;
}

.auth-card {
  background: #fff;
  padding: 30px;
  border-radius: 18px;
  width: 420px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.register-card {
  width: 520px;
}

.auth-card h1 {
  text-align: center;
  margin-bottom: 5px;
  color: #2c3e50;
}

.auth-card h3{
  text-align: center;
  margin-bottom: 20px;
  color: #7f8c8d;
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.grid-form input,
.grid-form select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.grid-form input:focus,
.grid-form select:focus {
  outline: none;
  border-color: #1976d2;
}

.btn-group.full {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.btn-primary {
  background: #1976d2;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 1px solid #1976d2;
  color: #1976d2;
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
}

p {
  color: #082bf3;
}