* {
  font-family: "Segoe UI", sans-serif;
}

.login-bg {
  height: 100vh;
  background-size: cover;
  /*background: linear-gradient(135deg, #cfd9df, #e2ebf0);*/
  background-image: url("../assets/bg.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  text-align: center;
}

.login-card h1 {
  margin-bottom: 5px;
  color: #2c3e50;
}

.login-card p {
  color: #7f8c8d;
  margin-bottom: 25px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.login-card input:focus {
  outline: none;
  border-color: #3498db;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-primary:hover {
  background: #2980b9;
}

.btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn-outline {
  width: 48%;
  padding: 10px;
  background: white;
  border: 2px solid #3498db;
  color: #3498db;
  border-radius: 10px;
  cursor: pointer;
}

.btn-outline:hover {
  background: #3498db;
  color: white;
}