.sidebar {
  width: 180px;
  height: 100vh;
  background: #e8f0ff;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar h2 {
  margin-bottom: 30px;
  /*text-align: center;*/
  color: #2c3e50;
  font-family: "Segoe UI", sans-serif;
}

.logout-btn {
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  background: #ef4444;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background: #dc2626;
}