.viewuser-bg{
  background-image: url("../assets/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}

.viewuser-container {
  max-width: 550px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

}

.viewuser-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.viewuser-container h4 {
  margin: 25px 0 10px;
  color: #2563eb;
  font-size: 15px;
  border-left: 4px solid #2563eb;
  padding-left: 10px;
}
.row {
  display: flex;
  gap: 15px;
  margin-bottom: 12px;
}

.row input {
  flex: 1;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  background: #f5f6fa;
}

input:disabled {
  color: #333;
}

.btn-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.btn-save {
  padding: 10px 25px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-save:hover {
  background: #1d4ed8;
}

.btn-cancel {
  padding: 10px 25px;
  background: #e5e7eb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-cancel:hover {
  background: #d1d5db;
}